<div class="detail">
    <mat-card *ngIf="article">
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-icon-button (click)="back()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <h1>{{article.titre| titlecase}}</h1>
                </div>
            </div>
            <div class="subtitle">
            <mat-card-subtitle>
                Date : {{ article.createdAt| date: 'longDate'}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Thème : {{ article.topicName}}
              </mat-card-subtitle>
              <mat-card-subtitle>
                Auteur : {{ article.userName}}
              </mat-card-subtitle>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="content">
                <p>Description:</p>
                {{ article.content }}
            </div>
            <br>
            <div class="date" class="my2" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="updated"><i>Last update: </i> {{ article.updatedAt| date: 'longDate'}}</div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <hr>
        <mat-card-title>
            <h2>Commentaires</h2>
        </mat-card-title>
        <div class="items" fxLayout="row" fxLayout.lt-md="column">
            <mat-card class="item" *ngFor="let comment of (comments$ | async)?.comments" fxFlex>
                
                  <mat-card-subtitle>
                    Auteur : {{ comment.userName}}
                  </mat-card-subtitle>
                <mat-card-content class="addComment">
                    <p>
                        {{ comment.content }}
                    </p>
                </mat-card-content>
    </mat-card>
    <mat-card >
            <mat-card-content>
            <form [formGroup]="commentForm" (ngSubmit)="addComment()" class="mt2">
                <textarea matInput placeholder="Laisser ici un commentaire" rows="6" formControlName="comment" class="textarea"></textarea>
                <div fxLayout="row" fxLayoutAlign="end center" >
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="commentForm.invalid"><mat-icon>send</mat-icon></button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

