<div *ngIf="$isLogged() | async" class="container">
    <img src="/assets/logo_p6.png" alt="logo" class="img"/>
    <button class="btn" (click)="drawer.toggle()"><mat-icon>dehaze</mat-icon></button>

    <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer [mode]="'over'"  fixedInViewport
      fixedTopGap="100"
      position="end">  
       <div class="sidenav">
          <div routerLinkActive = "active"><a routerLink="articles" class="link"  >Articles</a></div>
          <div routerLinkActive = "active"><a routerLink="topics" class="link">Thèmes</a></div>
          <div routerLinkActive = "active"><mat-icon routerLink="me" class="me" >account_circle</mat-icon></div>
       </div>
      </mat-sidenav>
      <mat-sidenav-content>

      </mat-sidenav-content>
      
    </mat-sidenav-container>
    <nav class="navbar">
      <ul>
        <li routerLinkActive = "active"><a routerLink="articles" class="link"  >Articles</a></li>
        <li routerLinkActive = "active"><a routerLink="topics" class="link">Thèmes</a></li>
        <li routerLinkActive = "active"><mat-icon routerLink="me" class="link" >account_circle</mat-icon></li>
      </ul>
    </nav>
  </div>
  <hr>
  
 
<router-outlet></router-outlet>
