.app {
    .link {
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
    }

    .link + .link {
        margin-left: 10px;
    }
}
.img{
    height: 85px;
    width: 150px;
}