
.img{
    height: 85px;
    width: 150px;
}

*{
    list-style-type: none;
    text-decoration: none;
}
li a:hover {
    opacity: 50%;;
}
.active{
    color: purple
}
nav ul{
    display: flex;
    justify-content: end; 
}
nav li{
    position: relative;
    bottom: 80px;
    padding: 10px;
    width: 60px;
}
mat-drawer-content{
    display: none;
}

@media screen and (max-width:550px){
   
    mat-drawer-content {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
      .example-container {
        padding: 20px;
        width: 50%;
        height: 100%;
        float: right;

      }
    nav ul{
        display: none;
    }

}  
