<div *ngIf="$isLogged() | async" class="container">
    <img src="/assets/logo_p6.png" alt="logo" class="img"/>
    <nav class="navbar">
      <ul>
        <li routerLinkActive = "active"><a routerLink="articles" class="link"  >Articles</a></li>
        <li routerLinkActive = "active"><a routerLink="topics" class="link">Thèmes</a></li>
        <li routerLinkActive = "active"><mat-icon routerLink="me" class="link" >account_circle</mat-icon></li>
      </ul>
    <button class="btn"><mat-icon>dehaze</mat-icon></button>
    </nav>
  </div>
  <hr>
<router-outlet></router-outlet>
