.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boutons{
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.btn1, .btn2{
  border-radius: 10px;
  border-color: black;
}